.home {
  margin: 4em 0 1em 0;

  @media (min-width: $breakpoint) {
    margin-top: 8em;
  }

  .btnet {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 0.8rem;

    @media (min-width: $breakpoint) {
      position: absolute;
      right: 0.25rem;
      bottom: 0.5rem;
      margin: 0;
    }
  }

  .avatar {
    width: 6em;
    height: 6em;
    border-radius: 6em;
    margin-bottom: -2.5em;
  }

  h2 {
    @include sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    margin: 2em 0 0.5em 0;
  }

  p {
    font-size: 1.15em;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 1.25em;
    font-weight: 400;
    letter-spacing: -.003em;

    @media (min-width: $breakpoint) {
      font-size: 1.25em;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1em;

      a {
        font-family: Georgia, serif;
        font-size: 1.15em;

        @media (min-width: $breakpoint) {
          font-size: 1.25em;
        }
      }
    }
  }

  form {
    label {
      margin-bottom: 1em;
      display: block;
    }

    input[type='text'], input[type='email'] {
      display: block;
      padding: 0.33em;
      border-radius: 3px;
      box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
      border: 1px solid #ccc;
    }

    button {
      font-size: 1.15em;
    }
  }
}
