.post {
  padding: 2em 0 6em 0;

  @media (min-width: $breakpoint) {
    padding-top: 6em;
  }

  h1 {
    @include sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    color: #242E35;
    line-height: 1.25;
    letter-spacing: -.01em;
    margin-bottom: 0.5em;

    @media (min-width: $breakpoint) {
      font-size: 2.5em;
    }
  }

  time {

  }

  .content {
    margin: 2em 0;

    h1, h2, h3, h4, h5 {
      font-weight: 500;
      margin-bottom: 1em;
      margin-top: 1.5em;
    }

    ul, ol {
      margin-bottom: 1.25em;

      li {
        margin-bottom: 0.25em;
      }
    }

    pre {
      margin-bottom: 2em;
    }

    /* Responsive default image width */
    img {
      max-width: 100%;
      height: auto;
    }

    /* Image caption */
    figcaption {
      font-style: italic;
      text-align: center;
      color: #ccc;
    }

    p {
      font-family: Georgia, Cambria, "Times New Roman", Times, serif;
      font-size: 1.3em;
      line-height: 1.6;
      margin-bottom: 1.25em;
      font-weight: 400;
      letter-spacing: -.003em;
    }

    table {
      margin-bottom: 2em;

      th {
        padding: 0.75em;
        border: 1px solid #ddd;
      }

      td {
        padding: 0.75em;
        vertical-align: top;
        border: 1px solid #ddd;
      }
    }
  }
}