<!DOCTYPE html>
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131577675-1"></script>
  <script>
    if (window.location.hostname !== "localhost") {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131577675-1');
    }
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- if .IsHome }}
      {{ .Title }}
    {{- else }}
      {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>
  <meta property="og:title" content="{{- if .IsHome }}{{ .Title }}{{- else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
  <meta name="description" content="{{ .Description }}">
  <meta property="og:description" content="{{ .Description }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:creator" content="@abi">
  <meta name="twitter:site" content="@abi">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://ifdefined.com/images/abi-noda.png">
  <link href="/styles/styles.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml+xml" href="/index.xml" title="RSS Feed" /> 
</head>
<body>
  <header class='header'>
    <a href='/' class='title'>Abi Noda's Blog</a>
    <nav class='menu'>
      <a class='icon email' href='mailto:a@abinoda.com'>{{ readFile "static/images/email.svg" | safeHTML }}</a>
      <a class='icon twitter' href='http://twitter.com/abi'>{{ readFile "static/images/twitter.svg" | safeHTML }}</a>
      <a class='icon github' href='http://github.com/abinoda'>{{ readFile "static/images/github.svg" | safeHTML }}</a>
      <a class='icon rss' href='/index.xml'>{{ readFile "static/images/rss.svg" | safeHTML }}</a>
    </nav>
  </header>
